@font-face {
  font-family: 'Gotico-Antiqua';
  src: url('./fonts/Gotico-Antiqua\ -\ Fust\ &\ Schöffer\ ‘Durandus’.otf')
    format('truetype');
}

@font-face {
  font-family: 'Caslon-Antique';
  src: url('./fonts/Caslon-Antique.ttf') format('truetype');
}

html,
body {
  background-color: #f9fafb;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Caslon-Antique';
}

a {
  color: #fff;
}

label {
  font-size: 18px;
  color: #00000090;
}

a,
label,
caption,
.intro,
.create-btn,
.log-in {
  font-weight: 600;
}

input {
  width: 100%;
  padding: 4px 24px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #2c5945;
}

.container {
  display: flex;
  flex-direction: row;
}

.bg-img {
  position: relative;
  color: #f6f6f6;
}

.bg-img > img,
.logo-main {
  height: 100vh;
  width: 740px;
  display: block;
  margin: auto;
}

.logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  font-family: 'Gotico-Antiqua';
  font-size: 160px;
  position: absolute;
  box-shadow: 10px 0px 30px -10px #000000;
}

.credits {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  font-size: 36px;
}

#form {
  font-size: 32px;
  height: 400px;
  width: 100vw;
  padding-left: 64px;
  background: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.caption {
  font-size: 48px;
  padding-top: 24px;
  margin: 0;
  margin-bottom: -24px;
}

.form-container {
  display: flex;
  gap: 32px;
  flex-direction: row;
}

.intro,
.signUp {
  width: 850px;
  padding: 40px 64px;
}

.intro-tag {
  margin-bottom: 0;
}

.right p,
.left p {
  margin-bottom: -24px;
}

.create-btn {
  background-color: #397258;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 20px 48px;
  cursor: pointer;
  box-shadow: #0000002b 0px -23px 25px 0px inset,
    #00000026 0px -36px 30px 0px inset, #0000001a 0px -79px 40px 0px inset,
    #0000000f 0px 2px 1px, #00000017 0px 0px 2px, #00000017 0px 0px 4px,
    #00000017 0px 0px 8px, #00000017 0px 0px 16px;
}

.create-btn:hover {
  background-color: #2c5945;
}

.log-in {
  color: #2c5945;
  text-decoration: none;
}
